@import '/src/shared/styles/device-sizes.scss';

.layout {
  height: 100%;
  padding: 20px;

  @media (max-width: $device-tablet) {
    padding: 15px;
  }
  @media (max-width: $device-mobileL) {
    padding: 8px;
  }
}
