// mobile
$device-mobileS: 375px;
$device-mobile: 425px;
$device-mobileL: 475px; // Мобильная вёрстка
// tablet
$device-tabletS: 600px;
$device-tablet: 768px;
$device-tabletL: 1024px; // Планшетная вёрстка
// laptop
$device-laptop: 1280px;
$device-laptopL: 1440px;
// desktop
$device-desktopS: 1600px;
$device-desktop: 1920px;
$device-desktopL: 2560px;
